<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accela Caller</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <h1>Get Accela Records:</h1>
  <a href="http://localhost:5000/test"><button id='goButton'>Go</button></a>
</body>

</html>