<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accela Caller</title>
</head>

<body>
  <h1>Hello Whirled</h1>
  <a href="http://localhost:5000/test"><button>Go</button></a>
</body>

</html>